<div class="container-header-admin">
    <div class="header-admin">
        <div class="img-logo">
            <picture>
                <img src="" alt="#">
            </picture>
        </div>
        <nav class="main-menu-admin" id="menu-admin">
            <ul>
                <li><a class="active " href="/dashboard">Dashboard</a></li>
                <li><a href="/pages">Paginas</a></li>
                <li><a href="/position">Posição</a></li>
                <li><a href="/logoutAdmin">Logout</a></li>
            </ul>
        </nav>
    </div>
</div>