<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <main>
      <div class="form-admin">
        <form action="/admin" method="post" class="form">
          <h1>Admin</h1>
          <div class="form-group">
            <div class="input">
              <input
                type="text"
                name="admin_email"
                class="admin-email"
                id="admin-email"
              />
              <label for="admin-email">Admin Login</label>
            </div>
            <div class="input">
              <input
                type="password"
                name="admin_password"
                class="admin-password"
                id="admin-password"
              />
              <label for="admin-password">Admin Password</label>
            </div>
            <div class="btn-group">
              <div class="btn">
                <button>Login</button>
              </div>
            </div>
            <% if(msgError) { %>
            <div class="msgError"><%= msgError %></div>
            <% } %> <% if(msgSuccess) { %>
            <div class="msgSucess"><%= msgSuccess %></div>
            <% } %>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
