<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
        <div class="background-compra">
            <!--  -->
            <!--  -->
            <!-- tem um espaço em branco acima do código, se puder tirar por favorzinho professor :) -->
             <!--  -->
            <!--  -->
             
        <div class="container2">
            <!-- Imagem do Produto -->
            <div class="image-container">
              <img src="https://via.placeholder.com/400" alt="Espada Lendária">
            </div>
        
            <!-- Detalhes do Produto -->
            <div class="details">
              <h2>Espada Lendária</h2>
              <p>
                Uma espada forjada nas chamas de um dragão ancestral. Este artefato lendário é perfeito para aqueles que buscam glória e vitória. Suas propriedades mágicas garantem bônus de dano e resistência ao portador.
              </p>
              <p>
                <strong>Atributos:</strong><br>
                - +50 de Ataque<br>
                - +20 de Defesa<br>
                - Efeito especial: Chamas do Dragão (dano em área).
              </p>
              <p class="price">100 moedas de ouro</p>
              <button onclick="window.location.href='confirmacao.html'">Comprar Agora</button>
            </div>
          </div>
        </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>