<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>

  <body>
    <%- include('components/header') %>
    <main class="main-index">
      <div class="img-index"">
          <img src="/img/Banner4.png" />
        </div>
      <div class="conteudo-home">
        <div class="index-margin">
          <div class="index-conteudo">
            <div class="index-conteudo-texto">
              <div class="index-title">Fichas digitais</div>
              <div class="index-texto">
                Acesso rápido e simplificado a todas as informações de sua
                ficha. Concentre-se menos nas coisas dificeis de criar uma ficha
                e foque no que realmente importa que é se divertir ao lado de
                seus amigos!
              </div>
            </div>
            <div class="index-img">
              <img src="/img/ficha.jpg" />
            </div>
            <!-- segunda parte do home -->
          </div>

          <div class="conteudo-home2">
            <div class="index-conteudo-texto2">
              <div class="index-title">
                     Suas principais noticias em um só lugar
              </div>
              <div class="index-texto">
                Acompanhe de perto noticias em tempo de real das principais
                campanhas de rpg do brasil. Chegou a hora de Elevar o nivel da
                sua experiencia com o rpg
              </div>
            </div>
            <div class="index-img">
              <img src="/img/Banner5.jpg" />
            </div>
          </div>
          <!-- terceira parte do home -->
          <div class="conteudo-home3">
            <div class="index-conteudo-texto3">
              <div class="index-title">
                Soundtracks Especiais e de Facil acesso!
              </div>
              <div class="index-texto">
                Perca o medo de mestrar rpg e encontre varias soundtracks
                especiais para suas campanhas, expanda seus horizontes de forma
                pratica!
              </div>
              <div class="index-img">
                <img src="/img/Banner6.jpg" />
              </div>
            </div>

            <!-- Ultima parte do site -->
          </div>
        </div>
      </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>
