<!DOCTYPE html>
<html lang="pt-br">
    <%- include('components/head') %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portal de Notícias</title>
    <%- include('components/header')  %>

    <body>
    <!-- Artigo de Destaque -->
    <section class="featured-article">
        <div class="container-noticias">
            <h1>Notícia de Destaque: entenda o processo de adaptação do universo Ordem Paranormal, criado por Cellbit</h1>
                <p>Mistério e investigação são as essências de Ordem Paranormal, um mundo ficcional criado pelo produtor de conteúdo e streamer Rafael Lange, o Cellbit, que ganhou uma nova dimensão com a publicação da história em quadrinho O Segredo na Floresta: Parte 1. Lançada em dezembro pela Jambô,
                editora de Porto Alegre, a obra adapta às páginas a narrativa da segunda temporada de um RPG transmitido e jogado ao vivo na internet.</p>
            
         
            <p></p>
                <ul style="list-style-type: none; padding: 0; display: inline-flex; align-items: center; justify-content: center;">
                    <li style="margin: 0 20px; text-align: center;">
                        <img src="/img/cellbit.jpg" alt="Imagem 1" style="vertical-align: middle; margin-bottom: 10px;">
                        <p style="margin-top: 10px;">Imagem Representativa de Rafael Lange Mais conhecido como Cellbit</p>
                        <div class="index-conteudo-botao">
                            <button class="index-botao2"><a href="https://g1.globo.com/rs/rio-grande-do-sul/noticia/2023/12/22/live-quadrinho-cellbit.ghtml">Leia mais</a></button>
                        </div>
                    </li>
                </ul>
    </section>

    </div>
    
    <%- include('components/footer') %>
    <style>
    </style>

</body>
</html>