<!DOCTYPE html>
<html lang="pt-br">
  <%- include('components/head') %>
  <body>
    <%- include('components/header') %>
    <main>
        <div class="container3">
            <h2>Confirmação de Compra</h2>
            <div class="order-summary">
              <h3>Resumo do Pedido</h3>
              <div class="order-item">
                <img src="https://via.placeholder.com/100" alt="Espada Lendária">
                <div>
                  <h4>Espada Lendária</h4>
                  <p>Quantidade: 1</p>
                  <p>Preço: 100 moedas de ouro</p>
                </div>
              </div>
            </div>
            <div class="confirmation">
              <p>Obrigado por sua compra, aventureiro! Seu item estará disponível para coleta na Guilda em breve.</p>
                 <!-- Se conseguir dar um espacamento entre esse botao de voltar a loja e o texto acim ficaria agradecido :) -->
              <button onclick="window.location.href='index.html'">Voltar à Loja</button>
            </div>
          </div>
    </main>
    <%- include('components/footer') %>
  </body>
</html>