<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<%- include('components/head') %>

    <body div class="corpo">
        <%- include('components/header') %>
            <div class="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item">
                        <img src="/img/Banner1.png" alt="Imagem 1">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/Banner2.png" alt="Imagem 2">
                    </div>
                    <div class="carousel-item">
                        <img src="/img/Banner3.png" alt="Imagem 3">
                    </div>
                </div>
                <a class="carousel-control prev" href="#">&#10094;</a>
                <a class="carousel-control next" href="#">&#10095;</a>
            </div>
            <div class="all">
            <div class="prod"><h2>Baixe Já Nossos PDF</h2></div>
            <div class="content-prod">

                <div class="principal">
                    <ul class="conteudo-produto-ul">
                        <li>
                            <div class="content-livro">
                                <img src="/img/4.jpeg" />
                                <div class="ver-mais"><a href="/File/Ficha de Personagem - Ruína RPG 1.2 - Página1.pdf" download>Baixar</a></div>
                            </div>

                            <p class="p-prod">Ficha</p>

                        </li>
                        <li>
                            <div class="content-livro">
                                <img src="/img/5.jpeg" />
                                <div class="ver-mais"><a href="/File/Ruína v1.2 - PDF Oficial.pdf" download>Baixar</a></div>
                            </div>

                            <p class="p-prod">Pdf de Regras</p>

                        </li>
                    </ul>

                </div>

            </div>
        </div>
    </div>

            <%- include('components/footer') %>
    </body>

</html>