<footer>
  <div class="content-footer">
    <h2 class="h2-footer">SIGA-NOS</h2>
    <div class="redesSociais">
      <a href=""><i class="bx bxl-discord-alt"></i></a>
      <a href=""><i class="bx bxl-instagram"></i></a>
      <a href=""><i class="bx bxl-reddit"></i></a>
      <a href=""><i class="bx bxl-twitter"></i></a>
    </div>
      <div class="contato-header">
      <a href='/contato'>Contato</a>
    </div>
  </div>
</footer>
<script src="/assets/js/script.js"></script>
